.Table_Principal {
    padding: 2px;

    width: 100%;

    td {
        margin-top: 40px;
        margin-bottom: 20px;

        padding-top: 20px;
        padding-bottom: 20px;
    }

    ul{
        padding-left: 20px;
        &>li>:first-child{
            padding-left: 10px;
        }
    }

    tr:first-child {
        display: flex;

        flex-direction: row;
        flex-wrap: nowrap;


        justify-content: space-around;

        td {
            align-self: center;
            text-align: center;
        }

        a {
            color: rgb(90, 255, 255);

            &:visited {
                color: rgb(0, 160, 160);
            }

            &:hover {
                letter-spacing: 1px;
            }
        }

        th,
        td {
            color: aqua;
        }
    }

    color: rgb(0, 162, 255);
}

.ulWithStyle ul,.ulWithStyle li {
    list-style: square;
}