.principal {
    &>div {
        margin-top: 40px;
        margin-bottom: 20px;

        &>:first-child {
            margin-bottom: 5px;
        }
    }

    & * {
        color: rgb(0, 170, 170);
    }

    &>div>h1{
        background: radial-gradient(
        circle, 
        rgb(40, 122, 253) 0%, 
        rgb(0, 136, 255) 51%, 
        rgb(1, 119, 255) 100%);
    background-size: 200%;
    color: transparent;
    background-clip: text;
    animation: shine 12s linear infinite;
    filter: drop-shadow(1px 1px 2px rgb(0, 64, 255, .4));
    }
}

.Table_Principal {
    & * {
        color: aqua;
    }

    tr {
        a {
            color: rgb(90, 255, 255);

            &:visited {
                color: rgb(0, 160, 160);
            }

            &:hover {
                letter-spacing: 1px;
            }
        }

        td {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    color: rgb(0, 162, 255);
}