aside{
    display: grid;
    position: fixed;

    top: 50px;

    width: 100%;
    
    background-color: rgba(0, 255, 255, 0.1);
    z-index: 5;

    * {
        width: 100%;
    }

    &>ul{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        &>li{
            height: 2px;
            padding: 0 10px;
        }        
    }
}