.header * {
    color: hsl(189, 100%, 85%);
}

.btnAppearence {
    display: flex;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;


    background-color: transparent;

    &:hover {
        background-color: rgba(2, 2, 37, 0.2);
        letter-spacing: 2px;
    }
}

button {
    background-color: transparent;
    border: none;

    &:hover {
        letter-spacing: 4px;
    }
}

.btn {
    letter-spacing: 4px;
    font-size: 1rem;

    &:hover {
        letter-spacing: 2px;
    }
}

svg {
    width: 40px;
    height: 40px;
}


/*
******* <<<<< INICIO
*/

.header {
    display: grid;
    position: fixed;

    grid-template-columns: 50px auto 50px;

    top: 0;
    width: 100%;

    align-items: center;

    background-color: rgba(0, 0, 59, 0.8);
    box-shadow: 2px 2px 4px rgba(0, 0, 59, 0.4);

    z-index: 10;

    .ICON {
        display: flex;
        align-items: center;
        width: 60px;
        height: 100%;

        margin: 0 10px;

        &>svg {
            transition: all 2s;
            height: 40px;
        }
    }
}



.ulHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    height: 100%;
    width: 100%;


    justify-content: space-around;

    li {
        width: 14em;
        height: 90px;
        align-self: center;
        margin: 2px;

        background-color: hsla(230, 100%, 90%, 0.04);
        border: thick solid hsla(180, 100%, 60%, 0.02);
    }
}

.exp {
    letter-spacing: 2px;
    height: 40px;
    width: 100%;
}

.ExtraUl {
    display: grid;
    grid-template-columns: repeat(auto);

    li {
        height: 2em !important;
        width: 100%;

        background-color: rgba(2, 2, 37, 0.5);
    }
}