* {
  margin: 0;
  padding: 0;
}

html {
  position: absolute;
  background: rgb(24, 15, 114);
  background: radial-gradient(circle, rgb(47, 75, 133) 0%, rgba(13, 45, 92, 1) 30%, rgb(11, 27, 47) 50%, rgb(23, 22, 38) 70%, rgb(9, 19, 38) 100%);

  width: 100%;
  height: 100%;
}

ul, li{
  list-style: none;
}

.App {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.iButton{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

main{
  display: flex;
  flex-direction: column;
  
  margin-top: 80px;

  height: 100%;
  min-height: 600px;
  
  
  
  align-items: center;
  
  background-color: rgba(7, 7, 58, 0.4);

  &>div{
    position: relative;
    display: block;

    width: 95%;
    height: 100%;
    min-height: 200px;
    margin-top: 8px;
    
    border-radius: 4px;
    
    border: solid rgba(44, 138, 169);
    background-color: rgba(44, 138, 169, 0.2);
  }
}

#Important{
  position: absolute;
  display: flex;

  padding-top: 10px;
  top: 20px;

  width: 100%;
  height: 200px;

  align-items: center;

  flex-direction: column;

  z-index: 1;

  background-color: rgba(7, 7, 58, 0.6);
}